*{
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 107, 107);
    margin: auto;
}

h1{
    text-align: center;
}

.carritoLogo{
    background-color: rgb(180, 180, 180);
    margin-right: 10px;
    font-size: 26px;
    color: black;
    list-style: none;
}

.logo{
    width: 200px;
    height: 140px;
}

.carrito{
    width: 28px;
    height: 28px;
    margin-right: 3px;
}

ul, ol{
    list-style: none;
}

nav li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav li a:hover{
    background-color: #434343;
}

nav ul{
    display: flex;
    gap: 10px;
}

nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

nav li:hover > ul{
    display: block;
}

nav li ul li{
    position: relative;
}

nav li ul li ul{
    right: -140px;
    top: 0px;
}

.comprar{
    height: 40px;
    width: 100px;
    border: none;
    background-color: green;
}