header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 107, 107);
}

span{
    background-color: rgb(180, 180, 180);
    margin-right: 10px;
    font-size: 26px;
}

.logo{
    width: 200px;
    height: 140px;
}

.carrito{
    width: 28px;
    height: 28px;
    margin-right: 3px;
}

a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}