.infoConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 3%;
}

.infoConteiner_info{
    width: 400px;
    height: 300px;
}

.infoConteiner img{
    width: 400px;
    height: 400px;
}

.infoConteiner_info h4{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.infoConteiner_info p{
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.infoConteiner_info button{
    width: 150px;
    height: 45px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 10px;
    margin-right: 100px;
    border: 1px solid black;
    border-radius: 15px;
}

.infoConteiner_info span{
    font-size: 20px;
    background-color: white;
    margin-right: 10px;
}

.cantidadStock{
    display: flex;
    align-items: center;
    margin-left: 140px;
    gap: 20px;
}

.cantidadStock p{
    font-size: 21px;
}

.cantidadStock button{
    height: 25px;
    width: 25px;
    margin: 0%;
}
